conky.config = {
	use_xft = true,
	font = 'DejaVu Sans:size=10',
	xftalpha = 0.8,
	text_buffer_size = 2048,

-- Update interval in seconds
	update_interval = 1,

-- This is the number of times Conky will update before quitting.
	total_run_times = 0,

	own_window = true,
	own_window_transparent = true,
--own_window_type override
	own_window_type = 'normal',
--own_window_type normal #use this if you want a nice shadow to appear around conky

-- If own_window is yes, these window manager hints may be used
	own_window_hints = 'undecorated,below,sticky,skip_taskbar,skip_pager',

-- Use double buffering (reduces flicker, may not work for everyone)
	double_buffer = true,

-- Minimum size of text area
	minimum_width = 220, minimum_height = 0,
--maximum_width 200

-- Draw shades?
	draw_shades = false,

-- Draw outlines?
	draw_outline = false,

-- Draw borders around text
	draw_borders = false,

-- Stippled borders?
	stippled_borders = 0,

-- border margins
	border_outer_margin = 5,

-- border width
	border_width = 1,

-- Default colors and also border colors
	default_color = 'white',
--default_shade_color black
--default_outline_color grey
	own_window_colour = '#000000',

-- Text alignment, other possible values are commented
--alignment top_left
	alignment = 'top_right',
--alignment bottom_left
--alignment bottom_right
--alignment middle_right

-- Gap between borders of screen and text
-- same thing as passing -x at command line
	gap_x = 20,
	gap_y = 50,

-- Subtract file system buffers from used memory?
	no_buffers = true,

-- set to yes if you want all text to be in uppercase
	uppercase = false,

-- number of cpu samples to average
-- set to 1 to disable averaging
	cpu_avg_samples = 2,

-- number of net samples to average
-- set to 1 to disable averaging
	net_avg_samples = 2,

-- Force UTF8? note that UTF8 support required XFT
	override_utf8_locale = true,

-- Add spaces to keep things from moving about? This only affects certain objects.
	use_spacer = 'none',

	own_window_argb_value = 0,
	own_window_argb_visual = true,

};

conky.text = [[
${font Zekton:Bold:size=11}S Y S T E M ${hr 2}
#Command exec cut ..  know the distribution
${font Zekton:Bold:size=12}${alignc 0}${exec cut -d '\' -f 1 /etc/issue}
${voffset -10}${font OpenLogos:size=40}Z
#Hostname
${voffset -85}${alignc =10}${font Capture it:size=16}${nodename}
#PC
${font Zekton:Bold:size=12}${alignc 0}LOVE
${font Zekton:Bold:size=12}${alignc 0}FOREVER

${font Zekton:Bold:size=11}M o t t o${hr 2}

${font Zekton:Bold:size=12}All Gurus once

${font Zekton:Bold:size=12}${alignr} were Newbies

${font Zekton:Bold:size=11}S t a t u s${hr 2}

${font DejaVu Sans:Bold:size=13}K${font}   Kernel: ${alignr}${kernel}
${font StyleBats:Bold:size=16}q${font} Uptime: ${alignr}${uptime}
${font StyleBats:Bold:size=16}X${font} Temperature: ${alignr} ${exec sensors | grep 'Package id 0:' | cut -c17-23}
${font StyleBats:Bold:size=16}f${font} Fan1: ${alignr}${exec sensors | grep 'fan1' | cut -c11-21}
${font StyleBats:Bold:size=16}f${font} Fan2: ${alignr}${exec sensors | grep 'fan2' | cut -c11-22}
${font StyleBats:Bold:size=16}A${font} CPU 1: ${cpu cpu1}% ${alignr}${cpubar cpu1 8,60}
${font StyleBats:Bold:size=16}A${font} CPU 2: ${cpu cpu2}% ${alignr}${cpubar cpu2 8,60}
${font StyleBats:Bold:size=16}A${font} CPU 3: ${cpu cpu3}% ${alignr}${cpubar cpu3 8,60}
${font StyleBats:Bold:size=16}A${font} CPU 4: ${cpu cpu4}% ${alignr}${cpubar cpu4 8,60}
${font StyleBats:Bold:size=16}g${font} RAM:$mem / $memmax ${alignr}${membar 8,60}
${font StyleBats:Bold:size=16}j${font} SWAP:$swap / $swapmax ${alignr}${swapbar 8,60}
${font Webdings:Bold:size=16}~${font}Battery: ${battery_percent BAT0}% ${alignr}${battery_bar 8,60 BAT0}

${font Zekton:Bold:size=11}D A T E ${hr 2}

${alignc 0}${font Capture it:size=32}${time %H:%M:%S}${font Zekton:size=10}
${voffset 2}${alignc}${time %B %e  %A}

${font Zekton:Bold:size=11}S S D ${hr 2}
${voffset 4}${font Pie charts for maps:Bold:size=14}1${font} ${voffset -5}DiskIO:
${diskio}${alignr}${diskiograph 8,60}
${font Pie charts for maps:Bold:size=14}m${font} ${voffset -5}Home:
${voffset 4}${fs_free /home}/${fs_size /home} ${alignr}${fs_bar 8,60 /home}

${font Zekton:Bold:size=11}N E T W O R K ${hr 2}
#Aquí tengo que aclarar algo mis interfaces de red son
#Wired = enx00e04c360058 and WiFi = wlp58s0
${if_existing /proc/net/route enx00e04c360058}
${voffset -15}${alignc 0}${font Capture it:size=12}W i r e  d
${font PizzaDude Bullets:size=14}O${font} Up: ${upspeed enx00e04c360058}/s ${alignr}${upspeedgraph enx00e04c360058 8,60 black black}
${voffset 4}${font PizzaDude Bullets:size=14}U${font} Down: ${downspeed enx00e04c360058}/s ${alignr}${downspeedgraph enx00e04c360058 8,60 black black}
${voffset 4}${font PizzaDude Bullets:size=14}N${font} Upload: ${alignr}${totalup enx00e04c360058}
${voffset 4}${font PizzaDude Bullets:size=14}T${font} Dowload: ${alignr}${totaldown enx00e04c360058}
${else}${if_existing /proc/net/route wlp58s0}${alignc 0}${font Capture it:size=12}W i F i
${font}SSID: ${wireless_essid wlp58s0}
Signal: ${wireless_link_qual_perc wlp58s0}% ${alignr}${wireless_link_bar 8,60 wlp58s0}
${font PizzaDude Bullets:size=14}O${font} Up: ${upspeed wlp58s0} / s${alignr}${upspeedgraph wlp58s0 8,60 black black}
${voffset 4}${font PizzaDude Bullets:size=14}U${font} Down: ${downspeed wlp58s0} / s${alignr}${downspeedgraph wlp58s0 8,60 black black}
${voffset 4}${font PizzaDude Bullets:size=14}N${font} Upload: ${alignr}${totalup wlp58s0}
${voffset 4}${font PizzaDude Bullets:size=14}T${font} Download: ${alignr}${totaldown wlp58s0}
${endif}
]];
