[Desktop Entry]
Name=Ragdoll
Name[ast]=Ragdoll
Name[bs]=Ragdoll
Name[ca]=Ragdoll
Name[ca@valencia]=Ragdoll
Name[cs]=Ragdoll
Name[da]=Ragdoll
Name[de]=Ragdoll
Name[el]=Ragdoll
Name[en_GB]=Ragdoll
Name[es]=Ragdoll
Name[et]=Ragdoll
Name[eu]=Ragdoll
Name[fa]=Ragdoll
Name[fi]=Ragdoll
Name[fr]=Ragdoll
Name[ga]=Ragdoll
Name[gl]=Ragdoll
Name[hu]=Ragdoll
Name[is]=Ragdoll
Name[it]=Ragdoll
Name[kk]=Ragdoll
Name[km]=Ragdoll
Name[ko]=Ragdoll
Name[lt]=Ragdoll
Name[mr]=Ragdoll
Name[nb]=Ragdoll
Name[nds]=Ragdoll
Name[nl]=Ragdoll
Name[nn]=Ragdoll
Name[pl]=Ragdoll
Name[pt]=Ragdoll
Name[pt_BR]=Ragdoll
Name[ro]=Ragdoll
Name[ru]=Ragdoll
Name[sk]=Ragdoll
Name[sl]=Ragdoll
Name[sr]=Ragdoll
Name[sr@ijekavian]=Ragdoll
Name[sr@ijekavianlatin]=Ragdoll
Name[sr@latin]=Ragdoll
Name[tr]=Ragdoll
Name[ug]=Ragdoll
Name[uk]=Ragdoll
Name[x-test]=xxRagdollxx
Name[zh_CN]=Ragdoll

X-KDE-PluginInfo-Name=Ragdoll
X-KDE-PluginInfo-Author=liangwei3
X-KDE-PluginInfo-Email=liangwei3@ragdoll.com
X-KDE-PluginInfo-License=MIT

